

//color
$color-white: rgb(255, 255, 255);
$color-black: rgba(17, 17, 17, 1);
$color-blue: rgba(74, 79, 242, 1);
$color-transparent: rgba(17, 17, 17, 0.6);
$color-gray: rgba(216, 216, 216, 1);
$opacity: 0.6; 

//font
$font: 'Mulish', sans-serif;

//width
$content-width: 1110px;